<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <head>
        {% include head.html %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ " /styles/default.css" | relative_url }}">
        <script type="module" src="https://unpkg.com/wired-elements?module"></script>
        <script src="https://kit.fontawesome.com/425a9d35d1.js" crossorigin="anonymous"></script>
    </head>

    <header>
    </header>

    <body class="antialiased text-gray-900 min-h-screen">
        {{ content }}
    </body>

</html>