<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

    <head>
        {% include head.html %}
        <script src="https://unpkg.com/scrollreveal"></script>
        <script>
            ScrollReveal({ reset: true });
        </script>
        <script src="https://kit.fontawesome.com/425a9d35d1.js" crossorigin="anonymous"></script>
    </head>

    <header>
    </header>

    <body class="antialiased text-gray-900 min-h-screen">
        {{ content }}
        {% include scripts.html %}
    </body>

</html>